:root {
  --primary-color: #62635f;
  --secondary-color: #353b3b;
  --second-font-family: "Poppins", sans-serif;
  --main-font-family: "Raleway", sans-serif;
  --primary-button-color: #0a5221;
}

h1 {
  color: var(--primary-color);
  font-family: var(--main-font-family);
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}
h2 {
  color: var(--secondary-color);
  font-family: var(--second-font-family);
  font-size: 40px;
}
h3 {
  font-size: 18px;
  color: var(--secondary-color);
}

p {
  font-family: var(--second-font-family);
  font-size: 18px;
  margin-bottom: 20px;
}

.paragraph,
.page-intro,
.about-description {
  text-align: center;
}

.front-page-titles {
  text-align: center;
  display: block;
}
.connect-info {
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  font-size: 16px;
  color:var(--primary-color);
}
.connect-info:hover{
    color:var(--primary-button-color);
}

.project-titles {
  text-align: center;
  margin-top: 15px;
}
.project-pics {
  max-width: 500px;
  padding: 30px;
}
.about-headshot-pic {
  border-radius: 10px;
  max-width: 400px;
}
.contact-pic {
  max-width: 150px;
  border-radius: 6px;
}
.about-btn {
  display: block;
  margin: 0 auto;
}
.contact-links {
  margin: 0px;
  font-family: var(--second-font-family);
  font-size: 18px;
}
.hero {
  text-align: center;
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
  padding: 60px 60px 120px;
  font-family: var(--second-font-family);
  margin-bottom: 50px;
}
.navigation-static {
  position: sticky;
  top: 0;
}
.fa-tree{
    color:var(--primary-button-color);
    font-size: 16px;
}
.btn-branding {
  background: var(--primary-button-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  border-radius: 6px;
  color: var(--secondary-color);
  background-color: white;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--primary-button-color);
  transition: all 100ms ease-in-out;
}
.btn-branding-outline {
  border-radius: 6px;
  color: var(--secondary-color);
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--primary-button-color);
  transition: all 100ms ease-in-out;
}

.btn-branding-outline:hover {
  background: var(--primary-button-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}
.project-description {
  line-height: 30px;
  padding: 100px 60px;
}

.social-links {
  font-size: 28px;
  color: var(--primary-color);
  padding: 7px;
}

.social-links:hover {
  color: var(--primary-button-color);
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

footer .content-footer {
  background-color: #e4e5e7;
}
footer .contact-box {
  background-color: #e7efe9;
  border-radius: 6px;
  padding: 30px;
  margin-top: 30px;
  margin: 65px;
}
footer p {
  margin: 0;
}
.active {
  color: var(--primary-button-color) !important;
}
.nav-link:hover {
  color: var(--primary-button-color) !important;
}

@media (max-width: 768px) {
  .project-pics {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  .connect-info{
    text-align: center;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 28px;
  }
  .project-description {
    text-align: center;
    padding: 0px;
  }
  .hero {
    padding: 30px 30px 60px;
  }
  .paragraph {
    text-align: center;
    font-size: 16px;
  }
  .about-headshot-pic {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .about-btn {
    margin-bottom: 20px;
  }

  .project-pics {
    max-width: 300px;
    display: block;
    margin: auto;
  }

.btn-branding {
    font-size:14px;
}
}